Label {
    -fx-text-fill: #5d5654;
    -fx-font-family: "System";
    -fx-font-size: 14px;
}


Label#lblLogin {
    -fx-text-fill: #a37d74;
    -fx-font-weight: bold;
    -fx-font-size: 28px;
}


Button {
    -fx-background-color: #cfa490;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 15px;
    -fx-padding: 8px 16px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 15px;
}

Button:hover {
    -fx-background-color: #b48978;
}

TextField, PasswordField {
    -fx-border-color: #e0d2c9;
    -fx-border-radius: 10px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
    -fx-text-fill: #5d5654;
    -fx-padding: 8px 12px;
    -fx-font-size: 14px;
}

TextField:focused, PasswordField:focused {
    -fx-border-color: #cfa490;
    -fx-background-color: #fef9f6;
    -fx-background-radius: 10px;
}

#idValo {
    -fx-font-size: 36px;
    -fx-font-family: 'Calibri';
    -fx-text-fill: #d88e8e;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

#IdLOL {
    -fx-font-size: 43px;
    -fx-font-family: 'Calibri';
    -fx-text-fill: #d88e8e;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

#idLigas {
    -fx-font-size: 36px;
    -fx-font-family: 'Calibri';
    -fx-text-fill: #d88e8e;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

#IdRegistrar {
    -fx-font-size: 36px;
    -fx-font-family: 'Calibri';
    -fx-text-fill: #d88e8e;
    -fx-font-weight: bold;
    -fx-alignment: center;
}


#IdEquipos {
    -fx-font-size: 36px;
    -fx-font-family: 'Calibri';
    -fx-text-fill: #d88e8e;
    -fx-font-weight: bold;
    -fx-alignment: center;
}



.alert {
    -fx-background-color: #fef9f6;
    -fx-border-color: #e0d2c9;
    -fx-border-radius: 10px;
    -fx-padding: 15px;
    -fx-font-family: "System";
    -fx-font-size: 14px;
    -fx-text-fill: #5d5654;
}

.alert .content {
    -fx-text-fill: #5d5654;
    -fx-font-size: 14px;
}

.alert .header {
    -fx-text-fill: #a37d74;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.alert .button {
    -fx-background-color: #cfa490;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 15px;
    -fx-padding: 8px 16px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.alert .button:hover {
    -fx-background-color: #b48978;
}
